{% extends 'base.html.twig' %}
{% block title %}Learn Symfony!{% endblock %}

{% block pippo %}
    <h1>{{ title }}</h1>
        <ul>
        {% for comment in comments %}
            <li>{{ comment }}</li>
        {% endfor %}
        </ul>
{% endblock %}